.block-submit {
    width: 100px;
    float: right;
}

.top-form {
    margin-top: 10px;
}

.form-new-post .control-label {
    font-size: 1.3em;
}

@media (max-width: 768px) {
    .top-form {
        margin-top: 0px;
    }
}