<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico">

    <title>Blog</title>

    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>

    <div class="container">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">MM Blog</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li id="home-tab"><a href="/">Home</a></li>
              <li id="new-post-tab" ><a href="/newpost">New Post</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user %}
                <li><a href="#"><span class="glyphicon glyphicon-user"> {{user.username}}</span></a></li>
                <li id="home-tab"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              {% else %}
                <li id="sign-up-tab"><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li id="login-tab"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

    </div>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js" ></script>

    <script type="text/javascript">
      $(document).ready(function  () {
        $('#{{currentTab}}').addClass('active');
      });
    </script>
  </body>
</html>
