{% extends "layout.html" %}

{% set currentTab = 'new-post-tab' %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="css/new_post.css">

  <form method="post" class="form-new-post">
    <div class="form-group {% if error and not subject %}has-error{% endif %}" >
      <label class="control-label" for="subject-input">Subject</label>
      <input type="text" name="subject" value="{{subject}}"class="form-control" id="subject-input">
    </div>
    <div class="form-group {% if error and not content %}has-error{% endif %}">
      <label class="control-label" for="content-input">Content</label>
      <textarea name="content" rows="15" value="{content}}" class="form-control" id="content-input"></textarea>
    </div>
    <p class="bg-danger">{{error}}</p>
    <input class="btn btn-primary block-submit" type="submit" value="Post">
  </form>
{% endblock %}