{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet" href="/css/signin.css">
{% endblock %}

{% block content %}
  <form class="form-signin" method="post">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="login-input" class="sr-only">Email address</label>
    <input type="text" id="login-input" class="form-control" placeholder="Login" required autofocus name="username">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    {% if error_message %}
      <div class="alert alert-danger">{{error_message}}</div>
    {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
{% endblock %}